* {
    margin: 0;
    padding: 0;
}


/* Start Navbar Banner */

nav .navbar {
    background: 0 0;
    opacity: 0 !important;
    display: fixed;
    font-family: Helvetica, Arial, sans-serif;
}

.navbar-brand img {
    height: 80px;
    width: auto;
}

.navbar ul li a {
    color: #ffffff;
}

.navbar ul li a.active,
.navbar ul li a:hover {
    border-bottom: 2px solid #ac4230;
    color: #ffffff !important;
}

/* End Navbar Banner */



/* Start Banner */

.banner {
    background-image: url(https://tinyhorse.com/wp-content/uploads/2019/04/tiny-horse-marketing-agency-header.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    min-height: 970px;
    margin-top: -120px;
    padding-top: 80px;
    
}

main .banner h1 {
    color: #ffffff;
    font-family: 'EB Garamond', serif;
    font-size: 60px;
    line-height: 1.5 !important;
    opacity: .85;
    padding-top: 140px;
}

main .carousel-logos {
    background-repeat: no-repeat;
    background-image: url(https://sp-ao.shortpixel.ai/client/q_lossy,ret_img/https://tinyhorse.com/wp-content/uploads/2019/04/Tiny-Horse-Agency-Gradient.jpg);
    background-attachment: scroll;
    background-position: center center;
}

main .carousel-logos .carousel-inner {
    padding-left: 120px;
    padding-right: 120px;
    align-items: center;
}

main .carousel-logos .carousel-inner img {
    max-height: 150px;
}

/* Start 3 divisions */

.three-divisions {
    padding: 50px 0;
    color: #212326;
    text-align: center;
    background-color: #f4eae9;
}

.three-divisions h2 {
    padding: 24px 0;
    margin: 0 0 10px;
}

.three-divisions h2 {
    font-family: 'EB Garamond', serif;
}

.three-divisions .division-button {
    color: #212326;
    border: 1px solid #212326;
    margin: 0 0 10px;
}

.three-divisions a {
    text-decoration: none;
}

.three-divisions p {
    font-size: 14px;
}

/* End 3 divisions */

/* Start Testimonials */

.testimonials {
    padding: 6em 0;
}

.testimonials p span {
    font-family: 'EB Garamond', serif;
    line-height: 2;
    font-size: 25px;
    margin-bottom: 1em;
}

.testimonials .quote-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1em 0;
    padding-left: 6%;
}

/* End Testimonials */

/*  Start Contact Us */

.contact-us {
    background-repeat: no-repeat;
    background-image: url(https://sp-ao.shortpixel.ai/client/q_lossy,ret_img/https://tinyhorse.com/wp-content/uploads/2019/04/Tiny-Horse-Marketing-Agency-Contact.jpg);
    background-attachment: scroll;
    background-position: center center;
}

.contact-us .container {
    padding: 50px 0;
    color: #ffffff;
}

.contact-us .container h4 {
    font-size: 14px;
}

.contact-us .container p {
    margin: .85em 0;
    font-family: 'EB Garamond', serif;
    font-size: 40px;
}

.contact-us .container p a {
    color: #ffffff;
    text-decoration: none !important;
}

/*  End Contact Us */